<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jou.happyhour.android.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jou.happyhour.android.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/HoraTheme"
            android:configChanges="screenSize|orientation"> <!--Para no perder la información al girar la pantalla :)-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jou.happyhour.android.app.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="jou.happyhour.android.app.MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <!-- Si no quisiera mostrar la barra: android:theme="@style/AppTheme.NoActionBar" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jou.happyhour.android.app.MainActivity" />
        </activity>
        <activity
            android:name="jou.happyhour.android.app.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="jou.happyhour.android.app.MainActivity"
            android:theme="@style/Widget.AppCompat.Light.ActionBar.Solid.Inverse">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jou.happyhour.android.app.MainActivity" />
        </activity>
    </application>

</manifest>
